.modal{
    background-color: white;
    height: 70%;
    // width: 550px;
    width: 80%;
    position: fixed;
    top: 15%;
    left: 7.5%;
    right: 10%;

    border-radius: 15px;
    border: 1px solid grey;
    justify-content: flex-start;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 3px grey;

    &__close{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    & p{
        text-align: left;
    }
}

.x{
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.title{
    text-align: center;
    font-size: 25px;
}
